



<%# <button class="tablink" onclick="openCity('London', this, 'red')" id="defaultOpen">Home</button>
<button class="tablink" onclick="openCity('Drivers_path', this, 'green')">Driver</button>
<button class="tablink" onclick="openCity('Tokyo', this, 'blue')">Passenger</button> %>
