
<div>
  <h2>List of Passengers</h2>
  <button class='tablink'><%= link_to "Create New Passenger", new_passenger_path %></button>
  <table>
    <tr>
      <th>ID</th>
      <th>NAME</th>
      <th>PHONE NUMBER</th>
    </tr>
    <% @passengers.each do |passenger| %>
    <tr>
      <td><%= passenger.id %><td>
      <%= link_to "#{passenger.name}", passenger_path(passenger.id) %>
      <td><%= passenger.phone_num %><td>
    
    </tr>
    <% end %>
  </table>
</div>