<div>
  <h2>Passenger Name: <%= @passenger.name %></h2>
  some image
  <h3>Phone_number: <%= @passenger.phone_num %> </h3>
  <h3>Total_charged: <%=  %> </h3>
  

  
  <button class='tablink'>Edit Passenger</button>
  <button class='tablink'>Delete Passenger</button> 
  <button class='tablink'>Create a New Trip</button> 
</div>