/*
* This is a manifest file that'll be compiled into application.css, which will include all the files
* listed below.
*
* Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
* vendor/assets/stylesheets directory can be referenced here using a relative path.
*
* You're free to add application-wide styles to this file and they'll appear at the bottom of the
* compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
* files in this directory. Styles in this file should be added after the last require_* statement.
* It is generally better to create a new file per style scope.
*
*/

/* Custom bootstrap variables must be set or imported *before* bootstrap. */
@import "bootstrap";  

@import "**/*";

table{
  border-collapse:collapse;
  border:2px solid black;
  margin: 20px;
}
  
table td{
  border:2px solid black;
  padding: 10px;
  text-align: center;
}

table th{
  border:2px solid black;
  text-align: center;
}

.tablink{
background-color: #29AEAC; 
border: none;
color: black;
padding: 15px 32px;
margin: 10px;
text-align: center;
text-decoration: none;
display: inline-block;
font-size: 16px;
color: white;
}

.btn-group{
  margin: 30px;
  padding: 20px;
}
button{
  height: 65px;
  width: 170px;
}
.dropdown-menu{
  color: whitesmoke;
}

.logo img{
  position: relative;
  top: -50px;
  width: 20%;
  height: 30%;
}

.nav-buttons{
  position: relative;
  top: -300px;
  left: 33%;
  width: 100%;
}
header{
  background-color: rgb(30, 34, 34);
  height: 200px;
}

body{
  background-color: whitesmoke;
}

.car img{
  position: fixed;
  width: 75%;
  left: -10px;
  height: 84%;
  top: 190px;
}

.going img{
  position: fixed;
  width: 35%;
  height: 76.6%;
  bottom: -29px;
  right: -10px
}
.tablink a{
  color: white;
}

.driver-table{
  position: relative;
  left: 400px;
  top: -95px;
  font-family: Arial, Helvetica, sans-serif 
}

.passenger-table{
  position: relative;
  left: 450px;
  top: -95px;
  font-family: Arial, Helvetica, sans-serif 
}
.driver-show{
  position: relative;
  left: 30px;
  width: 500px;
  height: 500px;
}
.driver-info{
  position: relative;
  top: 15px;
  left: 10px;
}
.driver-show img{
  position: relative;
  top: 10px;
  width: 350px;
  height: 350px;
}

.driver-trips{
  position: relative;
  text-align: center;
  left: 600px;
  top: -480px;
}

.driver-trips h2{
  position: relative;
  right: 400px;
}

a {
  color: #29AEAC;
}